# Extracting a single value

## By square bracket notation

We can extract a single value by using the square bracket notation twice.  For example, I can get the 11,000th value from the rainfall amount column like this.a row or a column from a data frame/series.  This is a simple consequence of the fact that square bracket notation works on both data frames _and_ series.  The left-most one is working on a data frame and returning a series, the second one is working on the series.

In [48]:
import pandas as pd
import numpy as np

wentworth = pd.read_csv("data/rainfall/IDCJAC0009_047045_1800_Data.csv")
wentworth["Rainfall amount (millimetres)"][11000]

np.float64(0.5)

In [2]:
wentworth

,Product code,Bureau of Meteorology station number,Year,Month,Day,Rainfall amount (millimetres),Period over which rainfall was measured (days),Quality
0,IDCJAC0009,47045,1933,1,1,NaN,NaN,NaN
1,IDCJAC0009,47045,1933,1,2,NaN,NaN,NaN
2,IDCJAC0009,47045,1933,1,3,NaN,NaN,NaN
3,IDCJAC0009,47045,1933,1,4,NaN,NaN,NaN
4,IDCJAC0009,47045,1933,1,5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
32288,IDCJAC0009,47045,2021,5,27,0.0,NaN,N
32289,IDCJAC0009,47045,2021,5,28,0.0,NaN,N
32290,IDCJAC0009,47045,2021,5,29,0.0,NaN,N
32291,IDCJAC0009,47045,2021,5,30,0.0,NaN,N
32292,IDCJAC0009,47045,2021,5,31,0.0,NaN,N

## By Summarising

Pandas provides some "magic" when it comes to summarising columns.  Series have a set of "methods" attached to them that you can call any time you like to get summaries.  Note that these summaries work on Series, so you should extract them first.  Examples are:
  * add up all elements (`sum`)
  * calculate the average (`mean`) or mode (`mode`)
  * find the largest (`max`) or smallest (`min`).

In [3]:
wentworth["Rainfall amount (millimetres)"].sum()

# Exercise, try out mean, mode, min, and max
print("sum:")
print(wentworth["Rainfall amount (millimetres)"].sum().round(2))
print("\nmean:")
print(wentworth["Rainfall amount (millimetres)"].mean().round(2))
print("\nmode:")
print(wentworth["Rainfall amount (millimetres)"].mode().round(2))
print("\nmin:")
print(wentworth["Rainfall amount (millimetres)"].min().round(2))
print("\nmax:")
print(wentworth["Rainfall amount (millimetres)"].max().round(2))

sum:
22346.2

mean:
0.7

mode:
0    0.0
Name: Rainfall amount (millimetres), dtype: float64

min:
0.0

max:
113.0

# Example

What is the largest rainfall day for Richmond RAAF base (which is in the file `data/rainfall/IDCJAC0009_067105_1800_Data.csv`)?

Which of our rainfall files has the highest average rainfall?

In [4]:

richmond = pd.read_csv("data/rainfall/IDCJAC0009_067105_1800_Data.csv")

print("\nmax:")
print(wentworth["Rainfall amount (millimetres)"].max().round(2))

max:
113.0

# Exercise

What is the total rainfall recorded for Meriwagga (rainfall file 075167)?  What is the maximum and minimum rainfall on any one day?  I am sure you can guess the minimum, but what code will give it to you?

In [6]:
meriwagga = pd.read_csv("data/rainfall/IDCJAC0009_075167_1800_Data.csv")

print("\nmax:")
print(meriwagga["Rainfall amount (millimetres)"].max().round(2))

print("\nmin:")
print(meriwagga["Rainfall amount (millimetres)"].min().round(2))

max:
86.0

min:
0.0

In [5]:
wentworth.loc[1110, "Rainfall amount (millimetres)"]

np.float64(0.0)

## By `loc` and `iloc`

We've seen how to recover a Series from a DataFrame - i.e. how to extract a column.

Lets see how to extract a row.

It is important to realise that, since DataFrames are built from Series, it is somewhat awkward to pull out a single row.  In effect, we are asking for pandas to visit each Series and grab the value at a particular index.

Instead of doing this though, we will use the `loc` functionality of pandas.

`loc` and `iloc` are functions that can get columns _or rows_.  `loc` goes by column name when getting columns and by index when getting rows.  `iloc` goes by the order of the column when getting columns and the order of the row when getting rows.

`loc` and `iloc` actually take two parameters to look up both axis at once.

In [9]:
wentworth.loc[1110, "Rainfall amount (millimetres)"]

np.float64(0.0)

but (as you can see) does it _row first_.  This means if we only give one, they will look up by row and give you back a series for that row.  It looks like the table was "flipped", but that is not really what happens.

In [21]:
wentworth.loc[1110]

Product code                                      IDCJAC0009
Bureau of Meteorology station number                   47045
Year                                                    1936
Month                                                      1
Day                                                       16
Rainfall amount (millimetres)                            0.0
Period over which rainfall was measured (days)           NaN
Quality                                                    Y
Name: 1110, dtype: object

# Example

What was the rainfall for the 1st May 2019 in Richmond RAF?

In [52]:
print("May 1st, 2019:")

# print(richmond.loc([["Month" == 5]["Day" == 1]["Year" == 2019]]["Rainfall amount (millimetres)"]))
# tmp = richmond[['Year' == '2019'], ['Month' == 5], ['Day' == 1]][['Year', 'Rainfall amount (millimetres)']]

tmp = richmond.query('Year == 2019 and Month == 5 and Day == 1')[['Rainfall amount (millimetres)']] # 'Year', 'Month', 'Day', 

tmp

May 1st, 2019:

      Rainfall amount (millimetres)
9251                            0.0

# Exercise

What is the title of the 6th row in the `workouts.csv` file?

In [57]:
workouts = pd.read_csv("data/workouts.csv")

print('--- title of row 6 ---')
print(workouts['Title'][5])

--- title of row 6 ---
Cycling

# Using `loc`/`iloc` for everything?

Many pandas programmers just use `loc` and `iloc` for everything but I will not.  Using them "hides" the underlying working of pandas and since we are here to learn, that doesn't suit us.  We will use it when we need to, but stick to square bracket notation as much as possible.  If you post a question on stack overflow you will probably get a `loc`/`iloc` based answer though, so we want to make sure you really know how they work.

# End of Material