In [ ]:
import pandas as pd
import numpy as np

data = {
    'A': ['1A', '2A', '3A', '4A'],
    'B': ['1B', '2B', np.nan, '4B'],
    'C': ['1C', np.nan, '3C', '4C'],
    'D': ['1D', '2D', '3D', '4D']}

data = pd.DataFrame(data, index=[0, 1, 2, 3])
data = data.dropna()

data["A"][3]